@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$primary-color: #272727;
$primary-text-color: #fdfdfd;
$secondary-text-color: #a1a79e;
$interface-color: #d18014;
$interface-light-color: #64e8e8;
$interface-hover-color: #68f8f1;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(28, 28, 28);
  height: 100vh;
  color: $primary-text-color;
}

body {
  overflow: hidden;
}
