body {
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('/dist/img/bg-image2.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.app {
  padding: 2rem 7rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 140px repeat(8, 50px);
  gap: 1rem;
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(8px);
}

// MOVEMENTS

// OPERATIONS
