body {
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('/dist/img/bg-image2.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.app {
  padding: 2rem 7rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 125px repeat(8, 50px);
  gap: 1rem;
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(8px);
  // transform: translateY(-100);
}

.greet {
  padding: 1rem 2rem;
  grid-column: 1 / 6;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid $interface-color;

  & h1 {
    font-size: 4rem;
  }

  .greet--username {
    display: inline-block;
    font-size: 3.2rem;
    color: $interface-color;

    &-line {
      display: inline-block;
      position: relative;
      content: '';
      height: 1px;
      width: 5rem;
      background: #d18014;
      margin-right: 2rem;
      top: -4px;

      &::after {
        display: inline-block;
        position: relative;
        content: '';
        height: 1px;
        width: 4rem;
        top: 0px;
        background: #d18014;
      }
    }
  }

  .sub-titles {
    display: block;

    .logout-timer {
      grid-column: 4 / 6;
      padding: 0 0.3rem;
      text-align: right;
      font-size: 1.25rem;
      color: $secondary-text-color;

      .timer {
        font-weight: 600;
        color: $interface-color;
      }
    }
  }

  .balance__date {
    font-size: 1.5rem;
    color: $secondary-text-color;
    margin: 1.2rem 0;
  }
}

// BALANCE
.balance {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.7rem 0 0 2rem;
  color: $secondary-text-color;

  &:hover {
    color: $interface-color;
    transition: all 0.3s;
  }

  &__label {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__value {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem;
    letter-spacing: 0.2rem;
    color: #fff;
  }
}

// MOVEMENTS
.movements {
  grid-column: 3 / span 3;
  grid-row: 3/ 8;
  border-radius: 1rem;
  overflow-y: scroll;
  margin-top: 2rem;

  &__row {
    padding: 2.25rem 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &:hover {
      border-bottom: 1px solid $interface-color;
      color: $interface-color;
      transition: all 0.5s;
    }
  }

  &__type {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;

    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;

    &--type {
      background-image: linear-gradient(to top left, #39b385, #9be15d);
    }

    &--withdrawal {
    }
  }

  &__date {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
  }

  &__value {
    font-size: 1.7rem;
    margin-left: auto;
  }
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 157, 0, 0.411);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $interface-color;
    outline: 1px solid rgba(37, 37, 37, 0.786);
    border-radius: 2px;
  }
}

// OPERATIONS
.operations__container {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $interface-color;
  #{&}--item {
    width: 90%;
    height: 50px;

    & button {
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      padding: 2rem auto;
      border: none;
      background-color: transparent;
      color: $secondary-text-color;
      border-radius: 5px;
      letter-spacing: 0.15rem;
      cursor: pointer;

      &:hover {
        cursor: pointer;
        color: $interface-color;
        border: 1px solid $interface-color;
        transition: all 0.5s;
        background-color: rgb(26, 26, 26);
      }
    }

    .operation--message {
      font-size: 2rem;
      margin: 0.3rem 0 0;
    }
  }

  .form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;

    &__label {
      font-size: 1.3rem;
      text-align: center;
    }

    & input {
      width: 100%;
      border: none;
      background-color: rgba(255, 255, 255, 0.4);
      font-family: inherit;
      font-size: 1.5rem;
      text-align: center;
      color: #333;
      padding: 0.3rem 1rem;
      border-radius: 0.7rem;
      transition: all 0.3s;

      &:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.6);
      }

      &__btn {
        border: none;
        border-radius: 0.7rem;
        font-size: 1.8rem;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:focus {
          outline: none;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
  }

  &--loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }

  &--close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }
}
