.main__container {
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
  background: url(/dist/img/bg-image.jpg) no-repeat;
  background-size: cover;
}

.login__container {
  position: absolute;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  max-width: 550px;
  width: 50%;
  height: 75vh;
  background-color: rgba(79, 55, 35, 0.619);
  border: 1px solid rgba(79, 55, 35, 0);
  box-shadow: 2px 4px 12px rgb(61, 61, 61);
  padding: 4rem 5rem 2rem;
  backdrop-filter: blur(10px);

  .header__container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;

    .logo__icon i {
      text-align: center;
      line-height: 60px;
      color: var(--white);
    }

    .header__title {
      font-size: 45px;
      padding: 0.7rem;
      color: var(--white);
    }
  }
}

.form__container {
  margin-top: 5rem;

  .input__container {
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .input__fields {
      width: 100%;
      margin-bottom: 15px;

      & input {
        height: 45px;
        width: 80%;
        border: none;
        border-bottom: 2px solid var(--white);
        border-radius: 3px;
        background: none;
        padding: 0 0 0 25px;
        outline: none;
        color: #fff;
        font-weight: 600;
        margin: 1rem 0;
        font-size: 1.7rem;
        letter-spacing: 2px;
        cursor: pointer;

        &::placeholder {
          color: var(--white);
          font-size: 1.7rem;
          letter-spacing: 2px;
        }

        &:focus::placeholder {
          color: transparent;
        }

        &:hover {
          border-bottom: 3px solid var(--white);
        }

        &:hover::placeholder {
          font-size: 2rem;
        }
      }
    }
    .forgot_message {
      text-align: start;
      margin-left: 6.2rem;
      text-decoration: none;
      font-size: 1.3rem;
      color: var(--white);
      letter-spacing: 1.5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.btn_container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  .submit-btn {
    height: 50px;
    width: 86%;
    border: none;
    border-radius: 5px;
    background-color: #5f391f;
    transition: all 0.5s;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--almond);
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      background-color: var(--coffee);
    }
  }
}

@media (max-width: 750px) {
  .title {
    text-align: center;
  }
  .main_container {
    margin-top: 2rem;
  }
}
