@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --white: #fff;
  --almond: #ede0d4ff;
  --desert-sand: #e6ccb2ff;
  --burlywood: #ddb892ff;
  --cafe-au-lait: #b08968ff;
  --coffee: #7f5539ff;
  --brown-sugar: #9c6644ff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
  background: url(/bg-image.jpg) no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.login_container {
  position: absolute;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  max-width: 550px;
  width: 50%;
  height: 75vh;
  background-color: rgba(79, 55, 35, 0.619);
  border: 1px solid rgba(79, 55, 35, 0);
  box-shadow: 2px 4px 12px rgb(61, 61, 61);
  padding: 4rem 5rem 2rem;
}

.header_container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.logo_icon i {
  text-align: center;
  line-height: 60px;
  color: var(--white);
}

.title {
  font-size: 45px;
  padding: 0.7rem;
  color: var(--white);
}

.main_container {
  margin-top: 5rem;
}

.input_container {
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.input_field {
  height: 55px;
  width: 100%;
  margin-bottom: 15px;
}

.input_field input {
  height: 45px;
  width: 80%;
  border: none;
  border-bottom: 2px solid var(--white);
  border-radius: 3px;
  background: none;
  padding: 0 0 0 25px;
  outline: none;
  color: #fff;
  font-weight: 600;
  margin: 1rem 0;
  font-size: 1.7rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.input_field input:focus::placeholder {
  color: transparent;
}
.input_field input::placeholder {
  color: var(--white);
  font-size: 1.7rem;
  letter-spacing: 2px;
}
.input_field input:hover::placeholder {
  font-size: 2rem;
}
.input_field input:hover {
  border-bottom: 3px solid var(--white);
}

.forgot_message {
  text-align: start;
  margin-left: 6.2rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--white);
  letter-spacing: 1.5px;
}

.forgot_message:hover {
  text-decoration: underline;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.submit-btn {
  height: 50px;
  width: 86%;
  border: none;
  border-radius: 5px;
  background-color: #5f391f;
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--almond);
  letter-spacing: 2px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--coffee);
}

@media (max-width: 750px) {
  .title {
    text-align: center;
  }
  .main_container {
    margin-top: 2rem;
  }
}
